<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your account</title>
</head>
<body>
    <h3>Create your account in 3 minutes.</h3>
    <div>
        <form action="/create-submit" method="post">
            Name: <input type="text" name="name"/><br>
            Email: <input type="text" name="email"/><br>
            Password: <input type="password" name="password1"/><br>
            Confirm your password: <input type="password" name="password2"/><br><br>
            <button>CREATE</button>
        </form>
    </div>
    
</body>
</html>